<h1>Cocktails</h1>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src="<%= cocktail.image %>" />
      <div class="card-product-infos">
        <h2><%= cocktail.name %></h2>
        <p><%= cocktail.description %></p>
        <%= link_to  "see recipe", cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
</div>
